{% block show_hide_password_widget %}
    <div {{ block('widget_container_attributes') }}>
        {{ form_widget(form) -}}
        <span class="show-hide-password-toggle">
            <i class="fa fa-eye-slash show-hide-toggle-icon"></i>
        </span>
    </div>
{% endblock %}